name: CI workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
      id-token: write
    steps:
      # Checkout the repository code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # DVC - Create credentials file from secret (base64 encoded)
      - name: Create credentials.json
        env:
          GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
        run: |
          echo "$GDRIVE_CREDENTIALS_DATA" | base64 -d > credentials.json
          cat credentials.json | python -c "import sys,json; json.load(sys.stdin); print('JSON is valid')"

      - name: Modify DVC Remote
        run: |
          dvc remote modify --local gdrive_remote gdrive_service_account_json_file_path credentials.json

      - name: DVC Pull Data
        run: |
          dvc pull -v

      # Run CNN Inference
      - name: Run tests
        run: |
          mkdir -p plots
          python3 main.py --mode test --data_path ./data/test/ --model_path ./models/cnn_resnet18_freeze_backbone_False.pth
